#*#
*.a
*.al
*.aps
*.bak
*.cache
*.dll
*.eto
*.exe
*.la
*.lo
*.msi
*.ncb
*.o
*.pdb
*.pyc
*.pyo
*.rej
*.sdf
*.so
*.so.[0-9]*
*.state
*.suo
*.tmp
*.user
*~
.#*
.*.swp
.DS_Store
.idea
.libs
.vs
/Library/metadata/
Library/metadata/
blabla